html {
  overflow-y: scroll;
}

.Name{
margin-left: 40%;
display: inline-inline-block;
padding-bottom: 70px;
padding-top: 70px;
}

#content {
  padding-top: 40px;
}

#img_prf {
  width: 300px;
  height: 300px;
}


.location-image img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
  image-orientation: from-image;
}

.grid-container {
  display: grid;
grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1em;
}

/* hover styles */
.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}

/* for touch screen devices */
@media (hover: none) {
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}
.desc t {
  color: #34495e;
  font-weight: 700;
}
